<div class="channel-form">
    <h1>チャンネル作成</h1>
    <%= form_with model: @channel do |f| %>
        <%= f.label :name, "チャンネル名"%>
        <%= f.text_field :name %>
        <%= f.label "チャットメンバー"%>
        <%= f.collection_check_boxes :user_ids, User.all, :id, :username, {}, { multiple: true } %>
        <%= f.submit "新規作成" %>
    <% end %>
</div>