
<div class="row">
    <div class="form">
       <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
            <div class="form-label">
                  <%= f.label :email, class: "label-text" %>
            </div>
            <div class="form-field">
                 <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "user-field"  %>
            </div>
            <div class="form-label">
                <%= f.label :password, class: "label-text" %>
            </div>
            <div class="form-field">
               <%= f.password_field :password, autocomplete: "current-password", class: "text-area" %>
            </div>
            <div class="form-label">
                <%= f.label :remember_me, class: "label-text"  %>
            </div>
            <div class="form-field">
                <%= f.check_box :remember_me %>
            </div>
            <div class="submit-button">
                 <%= f.submit "Log in", class:"new-button"%>
            </div>
            <%= render "users/shared/links" %>
        </div>
        <% end %>
    </div>
</div>


