<div class="user-show">
    <div class="user-show-data">
        <div class="user-show-image">
        <% if @user.user_detail.image.nil? %>
             <%= image_tag @user.user_detail.image.url %>
        <% else %>
             <img src="/assets/no-image" alt="">
        <% end %>
        </div>
        <table class="user-show-table">
            <tbody>
                <tr>
                    <th>ユーザー名</th>
                </tr>
                <tr>
                    <td><%= @user.username %></td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                </tr>
                <tr>
                    <td><%= @user.email %></td>
                </tr>
                <tr>
                    <th>会社名</th>
                </tr>
                <tr>
                <% if @user.user_detail.nil? %>
                    <td>記載なし</td>
                <% else %>
                    <td><%= @user.user_detail.company_name %></td>
                <% end %>
                </tr>
            </tbody>
        </table>
        <div class="user-edit-link">
             <%= link_to "編集", "/users/#{@user.id}/edit", class:"edit-link-button" %>
        </div>
    </div>
    <div class="user-mychannel">
        <div class="mychannel">
            <h2>マイチャンネル</h2>
            <ul>
            <% @user.channels.each do |channel| %>
                <li><%= link_to "#{channel.name}", channel_content_path(channel.id) %></li>
            <% end %>
            </ul>
        </div>
    </div>
</div>